/**********************************
FONTS
***********************************/

@font-face {
  font-family: "Ghastly Panic";
  src: url("../fonts/ghastly_panic.ttf") format("truetype");
}

/**********************************
GENERAL
***********************************/

body {
  font-family: 'Questrial', sans-serif;
  height: 100%;
  margin: 0;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
 margin: 0 0 1em 0;
}


/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Ghastly Panic', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

.intro-text {
  text-align: center;
  padding: 2em 0;
  margin: 0 0 30px;
  font-size: 10.25em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  /* background-color: #517398; */
  color: #FFFFFF;
}

#gallery li a p {
  /* margin: 0; */
  /* padding: 5%; */
  font-size: 0.75em;
  color: #1fcb75;
}

/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  /* min-height: 20px; */
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  /* margin: 0 0 10px; */
}

.paragraph-link:hover {
  color: #bdbfe5;
  transition: all ease-in-out .2s;
}

.contact-info li.phone svg{
  /* background-image: url('../images/phone.png'); */
  position: relative;
  top: 16px;
}

.contact-info li.mail svg{
  /* background-image: url('../images/mail.png'); */
  position: relative;
  top: 16px;
}

.contact-info li.twitter svg{
  /* background-image: url('../images/twitter.png'); */
  position: relative;
  top: 16px;
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: black;
}

/* green header */
header {
  /* background: #FFFFFF; */
  /* border-color: #FFFFFF; */
}

/* nav background on mobile */
nav {
  /* background: #FFFFFF; */
}

/* logo text */
h1, h2 {
  color: red;
}
h3 {
  color: red;
}
.social-icon {
  color: #1fcb75;
  background-color: #c8eed9;
  /* border-radius: 25px 25px; */
}
.paragraph-link {
  color: #1fcb75;
}
/* logo text */
.logo {
  color: #f6f6f9;
}
#logo h2{
    min-height: 1.2em;
}
/* links */
a {
  color: #bdbfe5;
}

/* nav link */
nav a, nav a:visited {
  color: #8e99d7;
  transition: all ease-in-out .1s;
}

/* selected nav link */
nav a.selected {
border-bottom: 4px solid #1fcb75;
}

nav a:hover {
  background-color: #1fcb75;
  color: #c8eed9;
  border-radius: 25px 25px;
  padding: 10px 20px 10px 20px;
  border-bottom: none;
  /* box-shadow: 3px 7px rgba(46, 199, 122, 0.144); */
  transition: all ease-in-out .1s;
}

ul {
    list-style-type: none;
}

a:hover svg{
  transform: rotateY(180deg);
  transition: all ease-in-out .3s;
}
a svg{
  transition: all ease-in-out .3s;
}

.contact-info svg:hover {
  transform: rotateY(180deg);
  transition: all ease-in-out .3s;
}
.contact-info svg {
  transition: all ease-in-out .3s;
}


/* .wrapper{
  display: inline-block;
  width: 200px;
  border: 1px solid red;
  overflow: hidden;
  text-align: center;
} */

.image-holder {
  position:relative; 
}
.image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  transition: all .3s linear;
} 

.image-holder:hover:before { 
  background: none;
}

.lang-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.languages {
  padding: 0;
  margin: 0;
}

.languages li {
  background-color: #1fcb75;
  padding: 5px 0px;
  text-align: center;
  border-radius: 25px 25px;
}


.project-description-container {
  text-align: center;
  display: block;
  position: absolute;
  /* top: 0; */
  bottom: 30%;
  left: 0;
  right: 0;
}
