<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="/" id="logo">
            <h1 class="logo">M R Slaughter</h1>
            <h2 class="logo" id="descriptions"></h2>
        </a>
        <nav>
        </nav>
    </header>
    <div id="wrapper">
        {{ content }}
        <footer>
            <p>&copy; 2024 M R Slaughter</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typeit@6.0.2/dist/typeit.min.js"></script>
    <script type="text/javascript" src="/assets/js/site.js"></script>
</body>
</html>
