/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    /* padding-top: 3.5rem; */
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Source Sans Pro',sans-serif;
    /* font-weight: 400; */
    color: #002949;
    background-color:#E9ECEF;
  }

.container {
    width: 90%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 90%;
  }
}
  
  nav {
      background-color: #0c3352;
  }
  
  p {
      font-size: 1.2rem;
      /* line-height: 2.4rem; */
      color: #5b5e5a;
      margin: 0 0 15px 0;
  }
  
  li {
      font-size: 1.2rem;
  }
  
  a {
      color: #5489b6;
  }
  
  .figure {
      padding: 20px;
  }
  
  .emphasis {
      color: red;
  }
  
  .extra-emphasis {
      color: orange;
  }
  
  .mce-notification-inner {
    display: none !important;
  }
  .mce-close {
    display: none !important;
  }
  .mce-notification {
    display: none !important;
  }
  
  #html-area {
      font-size: 14px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border: 1px solid #c5c5c5;
  }

  